<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LightHouseAPI(LHA)</title>
</head>
<body>
<h1 id="lighthouseapi-lha-">LightHouseAPI (LHA)</h1>
<blockquote>
<p>[EPICS Project module] [WIP]</p>
</blockquote>
<p>This is LightHouse&#39;s API, the open endpoints are :</p>
<ol>
<li><strong>/gui</strong> <code>[&#39;GET&#39;]</code></li>
<li><strong>/getinit</strong> <code>[&#39;GET&#39;, &#39;POST&#39;]</code></li>
<li><strong>/</strong> <code>[&#39;GET&#39;]</code></li>
</ol>
<hr>
<p>The android client for this project can be found at <a href="https://github.com/semwalhritvik/LighthouseAndroidClient">Hritvik&#39;s GIT Repository</a> for the same.</p>
<p>The rest of the contributors are as follows-</p>
<ul>
<li>Core API: Saket Upadhyay</li>
<li>Front-End: Shreya Daani, Akash Tyagi, Ashesh Cholkar</li>
<li>Database: Anushka Doshi</li>
<li>Android Client : Hritvik Semwal, Rhythm Shanghi</li>
</ul>

</body>
</html>



